<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.bentabasura.benta_basura">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_bentabasura_"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_bentabasura_logo"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Pages.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pages.Register" />
        <activity
            android:name=".Pages.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pages.MyProfile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pages.BuyCrafted"
            android:label="@string/title_activity_buycrafted"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pages.BuyRaw"
            android:label="@string/title_activity_buyraw"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Pages.SellCrafted"
            android:label="@string/title_activity_sellcrafted"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pages.SellRaw"
            android:label="@string/title_activity_sellraw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pages.Notifications"
            android:label="@string/title_activity_notifications"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pages.BoughtItems"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Pages.Cart"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Pages.Categories"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Pages.Craft_Categories"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Pages.MyProfile_Edit"
            android:theme="@style/customProfileDialog"/>

        <activity android:name=".Pages.MyItems" />
        <activity android:name=".Pages.ReservedItems" />
        <activity android:name=".Pages.MyItems_Edit_Craft"
            android:theme="@style/customEditDialog"
            />
        <activity android:name=".Pages.MyItems_Edit_Trash"
            android:theme="@style/customEditDialog"/>
        <activity android:name=".Pages.BuyCraftedDetails"
        android:label="@string/title_activity_buycrafted"
        android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Pages.BuyRawDetails" />
        <activity android:name=".View_Holders.custom_dialog_disclaimer"
            android:theme="@style/customDialog"/>
        <activity android:name=".View_Holders.custom_dialog_contact_seller"
            android:theme="@style/customSellerDialog"/>
        <activity android:name=".View_Holders.custom_dialog_google_sign_in"
            android:theme="@style/customProfileDialog"/>

        <service android:name=".Services.FirebaseNotificationService"/>

        <activity
            android:name=".Page_Adapters.MyIntroPageAdapter"
            android:theme="@style/FullscreenTheme" />
    </application>

</manifest>